.carouBackGround{

  margin-top: 150px;

  min-height: 400px;

  background-color: $dark-yellow;
  box-shadow: 5px 10px 18px #888888;
  display: flex;
  align-items: center;

  .swiper-container {
    width: 600px;
    height: 80%;

  }



  .swiper-slide {
    height: 350px;
    width: 150px;
    text-align: center;
    font-size: rem(5);
    background-color: $dark-yellow;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

}






