


.film .affiche, .fiche-film .affiche{
  margin-top: 150px;
  width: 200px;
}

.positionFilm{

  position: relative;
  z-index: 999;

}


.liste-acteurs{
  display: flex;

}

.liste-acteurs img{
  width: 100px;

}

.fiche-film{

  .carouBackGround{

    img{

      margin: auto auto auto 5%;
      border-radius: 5px;

    }

  }

  h1{
    margin: auto auto auto 5%;
    margin-bottom: 10px;
    color: $bleu;
  }
  p{
    margin: auto 5% auto 5%;
    color: $bleu;
  }

  .liste-acteurs{
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;




    .acteur{
      width: 30%;
      margin-top: 10px;
      border-radius: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: $gray-200;

      h1{
        text-align: center;
      }

      img{
        border-radius: 100px 0 0 100px;
      }



      &:hover{
        transition-duration: 0.15s;
        background-color: $light-yellow;
        text-decoration: none;
        color: $white;
        box-shadow: 0px 0px 90px -5px rgba(0, 0, 0, 0.75);
      }


    }
  }

}


table, th, td {
  width: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.espace-commentaire {
  margin-bottom: 50px;

  display: flex;

  div{
    display: flex;

    align-items: center;
  }

  i{
    padding-top: 5px;
    font-size: rem(72);
    width: 100px;
    height: 100px;
    background-color: $gray-200;
    border: 5px solid $dark-yellow;
    border-radius: 100%;
    text-align: center;
  }


  .commentaire{

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 20px;
  }
}


.commentaire-rond{

  display: flex;
  flex-direction: column;

  textarea {
    border-radius: 25px;
    align-items: center;

    &:nth-child(1){

      width: 150px;
      margin-bottom: 5px;

    }
  }
}

.button {
  margin: 20px 0;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: $dark-yellow;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: $dark-yellow}

.button:active {
  background-color: $dark-yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
