
footer{
  background-color: $gray-200;

  .flex-footer{

    height: 60px;

    padding: 20px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    p{

      width: 40%;

    }

    a{

      transform: scale(0.35, 0.35);

    }

    i{

      font-size: rem(24);
      cursor: pointer;

      &:hover{

        color: $dark-yellow;

      }

    }

  }
}
