.liste-films {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 50px;

  a {
    margin-top: 17px;
    flex-basis: 24%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $gray-200;

    &:hover {

      transition-duration: 0.15s;
      background-color: $light-yellow;
      text-decoration: none;
      color: $white;
      cursor: pointer;
      transform: scale(1.2, 1.2);
      box-shadow: 0px 0px 90px -5px rgba(0, 0, 0, 0.75);

    }

    img {

      border-radius: 15px;

    }

    .description{

      text-align: center;

    }

    .crop {
      overflow: hidden;
      height: 100px;
    }
    p:last-child {

      font-weight: bold;
      margin-top: auto;

      padding: 3px;

      &:hover {

        text-decoration: underline;

        transform: scale(1.1, 1.1);

      }

    }

  }

}

.flex-film{

  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover{

    transition-duration: 0.15s;
    text-decoration: none;
    color: $dark;
    transform: scale(1.1, 1.1);

  }


  img{

    //transform: scale(0.7, 0.7);

  }

  h1{

    margin: 0 0 auto 0;

  }

  p{

    font-size: rem(20);

  }
}

.flex-pagi{

  display: flex;
  justify-content: center;

  .swiper-pagination{

    margin-top: 8px;

    width: 50px;

    display: flex;
    justify-content: space-between;

    .swiper-pagination-bullet-active{

      background-color: $dark;

    }

  }

}





