
.media{

  background-color: rgba(15, 38, 49, 0.95);
  border-radius: 0 15px 15px 0;
  position: fixed;
  top: 25%;
  left: 0;
  z-index: 9999;


  a{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $white;
    text-decoration: none;
  }

  a i{
    margin:10px;
    font-size: rem(42);
  }


}

.media a:hover i{
  position: relative;
  left: 3px;
}