nav {

  height: 115px;

  background-color: $gray-200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 10px 70px $dark;

  z-index: 9999;

  div {

    height: 100%;

    display: flex;

    justify-content: space-between;
    align-items: center;

    font-size: rem(32);

    .logo {

      div {

        width: 10%;

        i {

          font-size: rem(60);
          margin-right: 15px;

        }
      }

      &:hover {

        text-decoration: none;
        color: $light-yellow;

      }

    }

    .nav-principale {

      .show-menu {
        display: none;
        color: $gray-900;
        padding: 10px 0;
        text-align: center;
        cursor: pointer;
      }

      .toggle-menu {
        display: none;
      }

      .toggle-menu:checked + ul {
        display: block;
      }

      ul {

        display: flex;

        list-style: none;

        padding: 0;

        li {

          position: relative;

          height: 75px;

          display: flex;
          align-items: center;
          justify-content: center;

          z-index: 999;

          & > ul {

            display: none;

            background-color: $gray-300;

          }

          &:hover > ul {

            display: block;

            position: absolute;

            min-width: 100%;

            text-align: center;

          }

        }

        a {

          padding: 40px 40px 45px 40px;

          text-align: center;

          &:hover {

            transition-duration: 0.15s;
            background-color: #ffc953;
            text-decoration: none;
            color: $white;
            box-shadow: 0px 0px 90px -5px rgba(0, 0, 0, 0.75);

          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {

  nav {

    position: static;

    div {
      display: block;

      .logo {



        div {

          display: flex;
          width: 100%;
          justify-content: center;
        }

      }

      .nav-principale {

        .show-menu {
          display: block;
          background-color: $gray-400;
        }
        ul {
          display: none;
          text-align: center;
          margin: 0;

          li {

            background-color: $gray-200;

            &:hover > ul {
              position: static;
            }

            &:hover{

              background-color: $dark-yellow;

            }

          }
          a {

            padding: 0;

            &:hover {


              text-decoration: none;
              background-color: transparent;
              color: $white;
              box-shadow: none;

            }
          }
        }
      }
    }
  }
}

